* {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 16px;
  color: #4f4d4c;
  box-sizing: border-box;
  font-family: HYJinKaiJ, 'Microsoft Yahei', Arial, sans-serif;
  position: relative;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f2f2f7;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}
/*******************/
/**     Utility   **/
/*******************/
.disabled {
  cursor: not-allowed;
  filter: brightness(60%);
}
.no-pointer-event {
  pointer-events: none;
}
.clear-padding {
  padding: 0 !important;
}
.clear-margin {
  margin: 0 !important;
}
.display-none {
  display: none !important;
}
.alert-color {
  color: #f07165;
}
.no-border {
  border: none !important;
}
.display-none {
  display: none !important;
}
.rotate-90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.rotate-r90 {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.rotate-180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.page {
  padding: 20px;
}
.view-splitter-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.view-splitter-h:only-child {
  flex-wrap: wrap;
  flex-grow: 1;
}
.d-flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
/*******************/
/**     Common    **/
/*******************/
button,
input,
select,
.option-list > * {
  border-radius: 2px;
}
button:disabled,
input:disabled {
  cursor: not-allowed;
  filter: brightness(60%);
}
.mui-button,
button {
  cursor: pointer;
  fill: #4f4d4c;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0 10px;
  max-width: 374px;
  min-width: 32px;
  height: 32px;
  overflow: hidden;
  background: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
.mui-button:hover,
button:hover {
  background: #4d4d4d;
}
.mui-button:active,
button:active {
  background: #424242;
}
.btn-primary {
  background: #d1b488;
}
.btn-primary:hover {
  background: #0078d4;
}
.btn-primary:active {
  background: #005ca3;
}
.btn-border {
  background: transparent;
  border: 1px solid #737373;
  padding: 0 11px;
}
.btn-border:hover {
  background: transparent;
  border: 1px solid #9a9a9a;
}
.btn-border:active {
  background: transparent;
  border: 1px solid #5c5c5c;
}
.btn-panel {
  background-color: #4d4d4d;
}
.btn-panel:hover {
  background: #5e5e5e;
}
.btn-panel:active {
  background: #3c3c3c;
}
.btn-icon {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  min-width: 36px;
  max-width: unset;
  background: transparent;
}
.btn-dropdown {
  min-width: 72px;
  text-align: center;
  padding-right: 28px;
  text-overflow: ellipsis;
}
.btn-close {
  position: absolute;
  width: 26px;
  min-width: 26px;
  height: 26px;
  padding: 4px 0 0;
  right: 6px;
  top: 6px;
  background: transparent !important;
}
.btn-close:hover {
  background: #4d4d4d !important;
}
.btn-close:active {
  background: #424242 !important;
}
.btn-small {
  width: 26px;
  min-width: 26px;
  height: 26px;
}
.btn-middle {
  width: 30px;
  min-width: 30px;
  height: 30px;
}
.text-btn {
  cursor: pointer;
  color: #989492;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.text-btn:hover {
  color: #65615f;
}
.text-btn:active {
  color: #4f4d4c !important;
}
a {
  line-height: 20px;
  text-decoration: none;
  border-bottom: 1px solid #4ea1e1;
  color: #4ea1e1;
  transition: all 0.2s ease-in-out, border 0.03s ease-in-out;
}
a:hover {
  border-bottom: 1px solid #68afe5;
  color: #68afe5;
}
a:active {
  border-bottom: 1px solid #3d98de;
  color: #3d98de;
}
input {
  cursor: text;
  height: 20px;
  padding: 1px 2px;
  border: 1px solid #737373;
  background-color: transparent;
  box-sizing: border-box;
  text-indent: 0px;
  text-align: start;
  border-image: initial;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
}
.switcher {
  cursor: pointer;
  width: 40px;
  min-width: 40px;
  position: relative;
  border-radius: 20px;
}
.switcher::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translateX(3px) translateY(3px);
  border-radius: 50%;
  background: #4f4d4c;
  pointer-events: none;
  transition: all 0.1s ease;
}
.switcher:checked {
  background: #d1b488;
  border: 1px solid #d1b488;
}
.switcher:checked:hover {
  background: #d1b488;
  border: 1px solid #d1b488;
}
.switcher:checked::after {
  transform: translateX(22px) translateY(3px);
}
.switcher:hover {
  border: 1px solid #9a9a9a;
}
input[type='text'] {
  margin: 2px 1px;
  padding: 1px 11px;
  height: 32px;
  background: #2b2b2b;
  border: 1px solid #737373;
  box-sizing: border-box;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
}
input[type='text']:hover {
  border: 1px solid #9a9a9a;
}
input[type='text']:focus {
  border: 2px solid #9a9a9a;
  padding: 0px 10px;
}
input[type='text']:disabled {
  filter: none;
  color: #737373;
}
input[type='range'] {
  cursor: pointer;
  height: 4px;
  padding: 0;
  border: none;
  background: white;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #b8b8b8;
  transition: all 0.2s ease-in-out;
}
input[type='range']::-webkit-slider-thumb:hover {
  background: #4f4d4c;
}
.panel {
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  background: #f2f2f7;
  box-shadow: 0px 1.6px 3.6px #00000041, 0px 0px 2.9px #00000037;
  transition: all 0.2s ease-in-out;
}
.row-layout {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.menu {
  display: inline-block;
  position: absolute;
  padding: 4px 0;
  max-width: none;
  min-width: 64px;
  border-radius: 4px;
  background: #f2f2f7;
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
  z-index: 9999;
}
.menuitem {
  cursor: pointer;
  display: grid;
  padding: 0;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  grid-template-columns: 42px auto 42px;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
  justify-items: center;
  list-style-type: none;
  grid-template-rows: auto;
  transition: all 0.2s ease-in-out;
}
.menuitem i {
  font-size: 16px;
}
.menuitem span,
.menuitem .menuitem-self-control {
  justify-self: start;
  text-overflow: ellipsis;
  grid-column-start: 2;
}
.menuitem:hover {
  background: #4d4d4d;
}
.menuitem:active {
  background: #424242;
}
.menuitem-no-selected:hover {
  background: transparent !important;
}
.menuitem-no-selected:active {
  background: transparent !important;
}
.menuitem-selected {
  background: #d1b488 !important;
}
.menuitem-separator {
  margin: 4px 12px;
  height: 2px;
  border-radius: 2px;
  background-color: #4d4d4d;
}
.select {
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.select .arrow-down {
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.option-list {
  position: absolute;
  left: 0;
  top: 32px;
  margin: 0;
  padding: 4px 0;
  min-width: 64px;
  max-height: 354px;
  overflow: auto;
  border-radius: 4px;
  z-index: 888;
  background: #f2f2f7;
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
}
.option-list > * {
  cursor: pointer;
  display: flex;
  height: 32px;
  padding: 0 10px;
  margin: 0 4px;
  background: transparent;
  border: 2px solid transparent;
  overflow: hidden;
  white-space: nowrap;
  list-style-type: none;
  box-sizing: border-box;
  align-items: center;
}
.option-list > *:hover {
  background: white;
}
.option-list > *:active {
  background: #424242;
}
/************/
/**   List  */
/************/
.mono-list {
  display: block;
  list-style-type: none;
  overflow: auto;
  padding: 0 10px;
}
.mono-list-widget li,
.mono-list-widget .list-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f2f2f7;
  box-shadow: 0px 1.6px 3.6px #00000041, 0px 0px 2.9px #00000037;
  transition: background 0.2s ease-in-out;
}
.mono-list-widget li:hover,
.mono-list-widget .list-item:hover {
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
}
.mono-list-widget li:active,
.mono-list-widget .list-item:active {
  background-color: #424242;
}
.mono-list-widget .list-item-selected {
  box-shadow: 0px 0px 0px 1.5px #4ea1e1 !important;
  background-color: #4d4d4d !important;
}
.mono-list-view {
  padding: 0;
}
.mono-list-view li,
.mono-list-view .list-item {
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}
.mono-list-view li:hover,
.mono-list-view .list-item:hover {
  background-color: #4d4d4d;
}
.mono-list-view li:active,
.mono-list-view .list-item:active {
  background-color: #424242;
}
.mono-list-view .list-item-selected {
  position: relative;
  box-shadow: none !important;
  background-color: white !important;
}
.mono-list-view .list-item-selected::after {
  content: '';
  width: 3px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 2px;
  background: #4ea1e1;
}
.mono-list-item-delegate {
  display: none;
}
/************/
/*  Dialog  */
/************/
.dim {
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.3) !important;
}
.dialog-loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  left: 0;
  top: 0;
}
.dialog-loading svg circle {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 2px;
  transform-origin: 50% 50%;
}
.dialog-container {
  position: absolute;
  padding: 20px;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  min-width: 120px;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #f2f2f7;
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
}
.dialog-header {
  margin-bottom: 16px;
}
.dialog-header span,
.dialog-header p,
.dialog-header div {
  font-weight: bold;
  font-size: 18px;
}
.dialog-content {
  margin: 10px 0;
}
.circle-run {
  stroke: #d1b488 !important;
  animation: spin-infinite 2s linear infinite;
}
@keyframes spin-infinite {
  0% {
    stroke-dasharray: 0.01px 43.97px;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(450deg);
    stroke-dasharray: 21.99px 21.99px;
  }
  100% {
    stroke-dasharray: 0.01px 43.97px;
    transform: rotate(1080deg);
  }
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
}
.window-controls-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  padding-right: 10px;
}
.window-controls-container .window-control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-app-region: no-drag !important;
}
.window-controls-container .window-minimize {
  background-color: #e4d47b;
}
.window-controls-container .window-minimize:hover {
  background-color: #d1a512;
}
.window-controls-container .window-minimize:active {
  background-color: #ebbc23;
}
.window-controls-container .window-max-restore {
  background-color: #9adab0;
}
.window-controls-container .window-max-restore:hover {
  background-color: #28b879;
}
.window-controls-container .window-max-restore:active {
  background-color: #38e499;
}
.window-controls-container .window-close {
  background-color: #e6a2ab;
}
.window-controls-container .window-close:hover {
  background-color: #cc4052;
}
.window-controls-container .window-close:active {
  background-color: #eb596d;
}
/** Title Bar */
.title-bar {
  height: 36px;
  user-select: none;
  width: 100%;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-app-region: drag;
  z-index: 5000;
}
/** SideBar */
.side-bar {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  width: 180px;
  height: 100%;
  min-width: 160px;
  position: relative;
  user-select: none;
  background: white;
  z-index: 6000;
  padding: 10px;
}
/** Navigation */
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation > * {
  width: 100%;
  flex-grow: 1;
}
.navigation .mono-list {
  padding: 0;
}
.navigation .list-item {
  padding: 20px 0;
  font-size: 20px;
}
.nav-item {
  font-size: 1em;
}
.nav-item-selected {
  color: #4f4d4c !important;
}
.nav-track-bar {
  content: '';
  width: 4px;
  height: 1.2em;
  position: absolute;
  border-radius: 2px;
  background: #4f4d4c;
  transition: all 0.2s ease-in-out;
}
/** Avatar */
.avatar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  align-items: center;
  padding: 36px 0 10px 0;
}
.avatar-container .user-name {
  margin: 20px 0;
  color: #989492;
}
.avatar-container img {
  width: 100%;
  height: auto;
}
.avatar-user,
.avatar-shadow {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 21;
  transition: transform 0.3s ease-in-out;
}
.avatar-user:hover {
  cursor: pointer;
  transform: scale(1.12);
}
.avatar-shadow {
  z-index: 20;
  position: absolute;
  transform: translateY(10px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}
